# Inferencia de Ingresos

## Importando datasets

In [204]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns

In [205]:
df_hacienda = pd.read_csv("Datasets/Minis_Hacienda.csv")
df_juventud = pd.read_csv("Datasets/Minis_Juventud.csv")
df_mujer = pd.read_csv("Datasets/Minis_Mujer.csv")
df_publico = pd.read_csv("Datasets/Minis_Publico.csv")
df_trabajo = pd.read_csv("Datasets/Minis_Trabajo.csv")

In [206]:
df_mujer.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        330 non-null    object
 1   Cargo         330 non-null    object
 2   Departamento  330 non-null    object
 3   Sexo          330 non-null    object
 4   Sueldo bruto  330 non-null    float64
 5   AFP           330 non-null    float64
 6   SFS           330 non-null    float64
 7   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(4)
memory usage: 20.8+ KB

In [207]:
df_hacienda.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        777 non-null    object
 1   Cargo         777 non-null    object
 2   Departamento  777 non-null    object
 3   Sexo          777 non-null    object
 4   Sueldo bruto  777 non-null    float64
 5   AFP           777 non-null    float64
 6   SFS           777 non-null    float64
 7   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(4)
memory usage: 48.7+ KB

In [208]:
df_publico.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        8767 non-null   object
 1   Cargo         8767 non-null   object
 2   Departamento  8767 non-null   object
 3   Sexo          8767 non-null   object
 4   Sueldo bruto  8767 non-null   float64
 5   AFP           8767 non-null   float64
 6   SFS           8767 non-null   float64
 7   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(4)
memory usage: 548.1+ KB

In [209]:
#Juventud
df_juventud.insert(0,'Ministerio','Juventud')
df_juventud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    290 non-null    object
 1   Nombre        290 non-null    object
 2   Cargo         290 non-null    object
 3   Departamento  290 non-null    object
 4   Sexo          290 non-null    object
 5   Sueldo bruto  290 non-null    float64
 6   AFP           290 non-null    float64
 7   SFS           290 non-null    float64
 8   Sueldo neto   290 non-null    float64
dtypes: float64(4), object(5)
memory usage: 20.5+ KB

In [210]:
#Mujer
df_mujer.insert(0,'Ministerio','Mujer')
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    330 non-null    object
 1   Nombre        330 non-null    object
 2   Cargo         330 non-null    object
 3   Departamento  330 non-null    object
 4   Sexo          330 non-null    object
 5   Sueldo bruto  330 non-null    float64
 6   AFP           330 non-null    float64
 7   SFS           330 non-null    float64
 8   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(5)
memory usage: 23.3+ KB

In [211]:
#Hacienda
df_hacienda.insert(0,'Ministerio','Hacienda')
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    777 non-null    object
 1   Nombre        777 non-null    object
 2   Cargo         777 non-null    object
 3   Departamento  777 non-null    object
 4   Sexo          777 non-null    object
 5   Sueldo bruto  777 non-null    float64
 6   AFP           777 non-null    float64
 7   SFS           777 non-null    float64
 8   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(5)
memory usage: 54.8+ KB

In [212]:
#Publico
df_publico.insert(0,'Ministerio','Publico')
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    8767 non-null   object
 1   Nombre        8767 non-null   object
 2   Cargo         8767 non-null   object
 3   Departamento  8767 non-null   object
 4   Sexo          8767 non-null   object
 5   Sueldo bruto  8767 non-null   float64
 6   AFP           8767 non-null   float64
 7   SFS           8767 non-null   float64
 8   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(5)
memory usage: 616.6+ KB

In [213]:
#Trabajo
df_trabajo.insert(0,'Ministerio','Trabajo')
df_trabajo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    877 non-null    object
 1   Nombre        877 non-null    object
 2   Cargo         877 non-null    object
 3   Departamento  877 non-null    object
 4   Sexo          877 non-null    object
 5   Sueldo bruto  877 non-null    object
 6   AFP           877 non-null    float64
 7   SFS           877 non-null    float64
 8   Sueldo neto   877 non-null    object
dtypes: float64(2), object(7)
memory usage: 61.8+ KB

## Unificación de datasets

In [214]:
df_ministerios = pd.concat([df_mujer, df_hacienda, df_publico, df_juventud, df_trabajo])
df_ministerios.drop('Departamento', axis=1,inplace= True)
df_ministerios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11041 entries, 0 to 876
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    11041 non-null  object
 1   Nombre        11041 non-null  object
 2   Cargo         11041 non-null  object
 3   Sexo          11041 non-null  object
 4   Sueldo bruto  11041 non-null  object
 5   AFP           11041 non-null  float64
 6   SFS           11041 non-null  float64
 7   Sueldo neto   11041 non-null  object
dtypes: float64(2), object(6)
memory usage: 776.3+ KB

In [215]:
df_ministerios

,Ministerio,Nombre,Cargo,Sexo,Sueldo bruto,AFP,SFS,Sueldo neto
0,Mujer,MAYRA JIMENEZ DE MATOS,MINISTRO (A) DE LA MUJER,FEMENINO,300000.0,8610.0,4943.8,221471.46
1,Mujer,EMILIA ALTAGRACIA SANTOS,MENSAJERO INTERNO,FEMENINO,25000.0,717.5,760.0,23497.5
2,Mujer,MARCELINA PEREZ PEÑA,SECRETARIA,FEMENINO,27000.0,774.9,820.8,25279.3
3,Mujer,CARMEN MARIA PEREZ SANCHEZ,ASESOR,FEMENINO,23000.0,660.1,699.2,20222.7
4,Mujer,MAGDELINE NUÑEZ REYES,SECRETARIA EJECUTIVA,FEMENINO,40000.0,1148.0,1216.0,37168.35
...,...,...,...,...,...,...,...,...
872,Trabajo,FERNANDO EMILIO SANTANA SEPULVEDA,ANALISTA,MASCULINO,"41.000,00",4087.7,4153.3,"37.968,11"
873,Trabajo,VITERBO ANTONIO PEÑA RAMON,SOPORTE ADMINISTRATIVO,MASCULINO,"46.000,00",4586.2,4659.8,"41.966,94"
874,Trabajo,MARTHA RAMONA PICHARDO BAEZ,SECRETARIO (A),FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
875,Trabajo,GREGORIA PAYANO VELEZ (LICDA.),SECRETARIO (A),FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
876,Trabajo,DORKA RAMIREZ RODRIGUEZ,AUXILIAR ADMINISTRATIVO I,FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"

## Procesamiento de datos

In [216]:
# Normalizando la caracteristica Sexo
df_ministerios.rename(columns={"Sexo": "Es_Masculino"}, inplace=True)

df_ministerios["Es_Masculino"] = df_ministerios["Es_Masculino"].apply(lambda genero:  0 if "f" in genero.lower() else 1).astype("int64")

In [217]:
# Normalizando la caracteristica Sueldo bruto
types = {}
for bruto in df_ministerios["Sueldo bruto"]:
    tipo = str(type(bruto))
    if tipo not in types:
        types[tipo] = 0
    types[tipo] += 1

print(types)

{"<class 'float'>": 10164, "<class 'str'>": 877}

In [218]:
def convertir_a_float(bruto):
    try:
        return float(bruto)
    except ValueError:
        return float(bruto.replace('.', '').replace(',', '.'))

# Aplicar la función a la columna "Sueldo bruto"
df_ministerios["Sueldo bruto"] = df_ministerios["Sueldo bruto"].apply(convertir_a_float)

In [219]:
# Normalizando la caracteristica Sueldo neto
types = {}
for bruto in df_ministerios["Sueldo neto"]:
    tipo = str(type(bruto))
    if tipo not in types:
        types[tipo] = 0
    types[tipo] += 1

print(types)

{"<class 'float'>": 10164, "<class 'str'>": 877}

In [220]:
def convertir_a_float(bruto):
    try:
        return float(bruto)
    except ValueError:
        return float(bruto.replace('.', '').replace(',', '.'))

# Aplicar la función a la columna "Sueldo bruto"
df_ministerios["Sueldo neto"] = df_ministerios["Sueldo neto"].apply(convertir_a_float)

In [221]:
# route
file_name = 'Datasets/Clean_Ministerios.csv'

# saving the excel
df_ministerios.to_csv(file_name)
print('df_ministerios is written to CSV File successfully.')

df_ministerios is written to CSV File successfully.

### Columnas Categoricas

In [230]:
counts = df_ministerios["Cargo"].value_counts(normalize=True)*100
counts

Cargo
AGENTE  VTP                                                          13.757812
ABOGADO                                                               7.653292
AUXILIAR ADMINISTRATIVO                                               6.638891
CONSERJE                                                              5.678833
FISCALIZADOR                                                          4.483290
                                                                       ...
Analista de Desembolso II                                             0.009057
Coordinador de Relaciones con Inversionistas                          0.009057
Viceministro de Crédito Público                                       0.009057
Analista de Expedientes de Incentivos y Exoneraciones Tributarias     0.009057
ENCARGADO UNIDAD                                                      0.009057
Name: proportion, Length: 731, dtype: float64

In [222]:
df_ministerios["Cargo"].value_counts(normalize=True)*100

#Estandarizando los Abogados
df_ministerios['Cargo'] = df_ministerios['Cargo'].apply(lambda x: "ABOGADO" if re.search("ABOGAD", x) else x)

Abogados = df_ministerios[df_ministerios['Cargo'].str.contains("ABOGAD")]['Cargo']
Abogados.value_counts()

Cargo
ABOGADO    845
Name: count, dtype: int64