# Inferencia de Ingresos

## Importando datasets

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns

In [33]:
df_hacienda = pd.read_csv("Datasets/Minis_Hacienda.csv")
df_juventud = pd.read_csv("Datasets/Minis_Juventud.csv")
df_mujer = pd.read_csv("Datasets/Minis_Mujer.csv")
df_publico = pd.read_csv("Datasets/Minis_Publico.csv")
df_trabajo = pd.read_csv("Datasets/Minis_Trabajo.csv")

In [34]:
df_mujer.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        330 non-null    object
 1   Cargo         330 non-null    object
 2   Departamento  330 non-null    object
 3   Sexo          330 non-null    object
 4   Sueldo bruto  330 non-null    float64
 5   AFP           330 non-null    float64
 6   SFS           330 non-null    float64
 7   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(4)
memory usage: 20.8+ KB

In [35]:
df_hacienda.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        777 non-null    object
 1   Cargo         777 non-null    object
 2   Departamento  777 non-null    object
 3   Sexo          777 non-null    object
 4   Sueldo bruto  777 non-null    float64
 5   AFP           777 non-null    float64
 6   SFS           777 non-null    float64
 7   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(4)
memory usage: 48.7+ KB

In [36]:
df_publico.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        8767 non-null   object
 1   Cargo         8767 non-null   object
 2   Departamento  8767 non-null   object
 3   Sexo          8767 non-null   object
 4   Sueldo bruto  8767 non-null   float64
 5   AFP           8767 non-null   float64
 6   SFS           8767 non-null   float64
 7   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(4)
memory usage: 548.1+ KB

In [37]:
#Juventud
df_juventud.insert(0,'Ministerio','Juventud')
df_juventud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    290 non-null    object
 1   Nombre        290 non-null    object
 2   Cargo         290 non-null    object
 3   Departamento  290 non-null    object
 4   Sexo          290 non-null    object
 5   Sueldo bruto  290 non-null    float64
 6   AFP           290 non-null    float64
 7   SFS           290 non-null    float64
 8   Sueldo neto   290 non-null    float64
dtypes: float64(4), object(5)
memory usage: 20.5+ KB

In [38]:
#Mujer
df_mujer.insert(0,'Ministerio','Mujer')
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    330 non-null    object
 1   Nombre        330 non-null    object
 2   Cargo         330 non-null    object
 3   Departamento  330 non-null    object
 4   Sexo          330 non-null    object
 5   Sueldo bruto  330 non-null    float64
 6   AFP           330 non-null    float64
 7   SFS           330 non-null    float64
 8   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(5)
memory usage: 23.3+ KB

In [39]:
#Hacienda
df_hacienda.insert(0,'Ministerio','Hacienda')
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    777 non-null    object
 1   Nombre        777 non-null    object
 2   Cargo         777 non-null    object
 3   Departamento  777 non-null    object
 4   Sexo          777 non-null    object
 5   Sueldo bruto  777 non-null    float64
 6   AFP           777 non-null    float64
 7   SFS           777 non-null    float64
 8   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(5)
memory usage: 54.8+ KB

In [40]:
#Publico
df_publico.insert(0,'Ministerio','Publico')
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    8767 non-null   object
 1   Nombre        8767 non-null   object
 2   Cargo         8767 non-null   object
 3   Departamento  8767 non-null   object
 4   Sexo          8767 non-null   object
 5   Sueldo bruto  8767 non-null   float64
 6   AFP           8767 non-null   float64
 7   SFS           8767 non-null   float64
 8   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(5)
memory usage: 616.6+ KB

In [41]:
#Trabajo
df_trabajo.insert(0,'Ministerio','Trabajo')
df_trabajo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    877 non-null    object
 1   Nombre        877 non-null    object
 2   Cargo         877 non-null    object
 3   Departamento  877 non-null    object
 4   Sexo          877 non-null    object
 5   Sueldo bruto  877 non-null    object
 6   AFP           877 non-null    float64
 7   SFS           877 non-null    float64
 8   Sueldo neto   877 non-null    object
dtypes: float64(2), object(7)
memory usage: 61.8+ KB

## Unificaci√≥n de datasets

In [42]:
df_ministerios = pd.concat([df_mujer, df_hacienda, df_publico, df_juventud, df_trabajo])
df_ministerios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11041 entries, 0 to 876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    11041 non-null  object
 1   Nombre        11041 non-null  object
 2   Cargo         11041 non-null  object
 3   Departamento  11041 non-null  object
 4   Sexo          11041 non-null  object
 5   Sueldo bruto  11041 non-null  object
 6   AFP           11041 non-null  float64
 7   SFS           11041 non-null  float64
 8   Sueldo neto   11041 non-null  object
dtypes: float64(2), object(7)
memory usage: 862.6+ KB

In [43]:
df_ministerios

,Ministerio,Nombre,Cargo,Departamento,Sexo,Sueldo bruto,AFP,SFS,Sueldo neto
0,Mujer,MAYRA JIMENEZ DE MATOS,MINISTRO (A) DE LA MUJER,MINISTERIO DE LA MUJER,FEMENINO,300000.0,8610.0,4943.8,221471.46
1,Mujer,EMILIA ALTAGRACIA SANTOS,MENSAJERO INTERNO,MINISTERIO DE LA MUJER,FEMENINO,25000.0,717.5,760.0,23497.5
2,Mujer,MARCELINA PEREZ PE√ëA,SECRETARIA,MINISTERIO DE LA MUJER,FEMENINO,27000.0,774.9,820.8,25279.3
3,Mujer,CARMEN MARIA PEREZ SANCHEZ,ASESOR,MINISTERIO DE LA MUJER,FEMENINO,23000.0,660.1,699.2,20222.7
4,Mujer,MAGDELINE NU√ëEZ REYES,SECRETARIA EJECUTIVA,MINISTERIO DE LA MUJER,FEMENINO,40000.0,1148.0,1216.0,37168.35
...,...,...,...,...,...,...,...,...,...
872,Trabajo,FERNANDO EMILIO SANTANA SEPULVEDA,ANALISTA,DEPARTAMENTO DE VIGILANCIA Y EVALUACI√ìN MT,MASCULINO,"41.000,00",4087.7,4153.3,"37.968,11"
873,Trabajo,VITERBO ANTONIO PE√ëA RAMON,SOPORTE ADMINISTRATIVO,DEPARTAMENTO DE DIVULGACI√ìN Y PREVENCION MT,MASCULINO,"46.000,00",4586.2,4659.8,"41.966,94"
874,Trabajo,MARTHA RAMONA PICHARDO BAEZ,SECRETARIO (A),DEPARTAMENTO DE VIGILANCIA Y EVALUACI√ìN MT,FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
875,Trabajo,GREGORIA PAYANO VELEZ (LICDA.),SECRETARIO (A),DEPARTAMENTO DE VIGILANCIA Y EVALUACI√ìN MT,FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
876,Trabajo,DORKA RAMIREZ RODRIGUEZ,AUXILIAR ADMINISTRATIVO I,DEPARTAMENTO DE DIVULGACI√ìN Y PREVENCION MT,FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"

## Procesamiento de datos

In [44]:
# Normalizando la caracteristica Sexo
df_ministerios.rename(columns={"Sexo": "Es_Masculino"}, inplace=True)

df_ministerios["Es_Masculino"] = df_ministerios["Es_Masculino"].apply(lambda genero:  0 if "f" in genero.lower() else 1).astype("int64")