# Inferencia de Ingresos

## Importando datasets

In [103]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import seaborn as sns

In [104]:
df_hacienda = pd.read_csv("Datasets/Minis_Hacienda.csv")
df_juventud = pd.read_csv("Datasets/Minis_Juventud.csv")
df_mujer = pd.read_csv("Datasets/Minis_Mujer.csv")
df_publico = pd.read_csv("Datasets/Minis_Publico.csv")
df_trabajo = pd.read_csv("Datasets/Minis_Trabajo.csv")

In [105]:
df_mujer.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        330 non-null    object
 1   Cargo         330 non-null    object
 2   Departamento  330 non-null    object
 3   Sexo          330 non-null    object
 4   Sueldo bruto  330 non-null    float64
 5   AFP           330 non-null    float64
 6   SFS           330 non-null    float64
 7   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(4)
memory usage: 20.8+ KB

In [106]:
df_hacienda.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        777 non-null    object
 1   Cargo         777 non-null    object
 2   Departamento  777 non-null    object
 3   Sexo          777 non-null    object
 4   Sueldo bruto  777 non-null    float64
 5   AFP           777 non-null    float64
 6   SFS           777 non-null    float64
 7   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(4)
memory usage: 48.7+ KB

In [107]:
df_publico.drop(columns=['Unnamed: 0'], axis=1 , inplace=True)
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        8767 non-null   object
 1   Cargo         8767 non-null   object
 2   Departamento  8767 non-null   object
 3   Sexo          8767 non-null   object
 4   Sueldo bruto  8767 non-null   float64
 5   AFP           8767 non-null   float64
 6   SFS           8767 non-null   float64
 7   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(4)
memory usage: 548.1+ KB

In [108]:
#Juventud
df_juventud.insert(0,'Ministerio','Juventud')
df_juventud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    290 non-null    object
 1   Nombre        290 non-null    object
 2   Cargo         290 non-null    object
 3   Departamento  290 non-null    object
 4   Sexo          290 non-null    object
 5   Sueldo bruto  290 non-null    float64
 6   AFP           290 non-null    float64
 7   SFS           290 non-null    float64
 8   Sueldo neto   290 non-null    float64
dtypes: float64(4), object(5)
memory usage: 20.5+ KB

In [109]:
#Mujer
df_mujer.insert(0,'Ministerio','Mujer')
df_mujer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    330 non-null    object
 1   Nombre        330 non-null    object
 2   Cargo         330 non-null    object
 3   Departamento  330 non-null    object
 4   Sexo          330 non-null    object
 5   Sueldo bruto  330 non-null    float64
 6   AFP           330 non-null    float64
 7   SFS           330 non-null    float64
 8   Sueldo neto   330 non-null    float64
dtypes: float64(4), object(5)
memory usage: 23.3+ KB

In [110]:
#Hacienda
df_hacienda.insert(0,'Ministerio','Hacienda')
df_hacienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    777 non-null    object
 1   Nombre        777 non-null    object
 2   Cargo         777 non-null    object
 3   Departamento  777 non-null    object
 4   Sexo          777 non-null    object
 5   Sueldo bruto  777 non-null    float64
 6   AFP           777 non-null    float64
 7   SFS           777 non-null    float64
 8   Sueldo neto   777 non-null    float64
dtypes: float64(4), object(5)
memory usage: 54.8+ KB

In [111]:
#Publico
df_publico.insert(0,'Ministerio','Publico')
df_publico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8767 entries, 0 to 8766
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    8767 non-null   object
 1   Nombre        8767 non-null   object
 2   Cargo         8767 non-null   object
 3   Departamento  8767 non-null   object
 4   Sexo          8767 non-null   object
 5   Sueldo bruto  8767 non-null   float64
 6   AFP           8767 non-null   float64
 7   SFS           8767 non-null   float64
 8   Sueldo neto   8767 non-null   float64
dtypes: float64(4), object(5)
memory usage: 616.6+ KB

In [112]:
#Trabajo
df_trabajo.insert(0,'Ministerio','Trabajo')
df_trabajo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    877 non-null    object
 1   Nombre        877 non-null    object
 2   Cargo         877 non-null    object
 3   Departamento  877 non-null    object
 4   Sexo          877 non-null    object
 5   Sueldo bruto  877 non-null    object
 6   AFP           877 non-null    float64
 7   SFS           877 non-null    float64
 8   Sueldo neto   877 non-null    object
dtypes: float64(2), object(7)
memory usage: 61.8+ KB

## Unificaci√≥n de datasets

In [113]:
df_ministerios = pd.concat([df_mujer, df_hacienda, df_publico, df_juventud, df_trabajo])
df_ministerios.drop('Departamento', axis=1,inplace= True)
df_ministerios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11041 entries, 0 to 876
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ministerio    11041 non-null  object
 1   Nombre        11041 non-null  object
 2   Cargo         11041 non-null  object
 3   Sexo          11041 non-null  object
 4   Sueldo bruto  11041 non-null  object
 5   AFP           11041 non-null  float64
 6   SFS           11041 non-null  float64
 7   Sueldo neto   11041 non-null  object
dtypes: float64(2), object(6)
memory usage: 776.3+ KB

In [114]:
df_ministerios

,Ministerio,Nombre,Cargo,Sexo,Sueldo bruto,AFP,SFS,Sueldo neto
0,Mujer,MAYRA JIMENEZ DE MATOS,MINISTRO (A) DE LA MUJER,FEMENINO,300000.0,8610.0,4943.8,221471.46
1,Mujer,EMILIA ALTAGRACIA SANTOS,MENSAJERO INTERNO,FEMENINO,25000.0,717.5,760.0,23497.5
2,Mujer,MARCELINA PEREZ PE√ëA,SECRETARIA,FEMENINO,27000.0,774.9,820.8,25279.3
3,Mujer,CARMEN MARIA PEREZ SANCHEZ,ASESOR,FEMENINO,23000.0,660.1,699.2,20222.7
4,Mujer,MAGDELINE NU√ëEZ REYES,SECRETARIA EJECUTIVA,FEMENINO,40000.0,1148.0,1216.0,37168.35
...,...,...,...,...,...,...,...,...
872,Trabajo,FERNANDO EMILIO SANTANA SEPULVEDA,ANALISTA,MASCULINO,"41.000,00",4087.7,4153.3,"37.968,11"
873,Trabajo,VITERBO ANTONIO PE√ëA RAMON,SOPORTE ADMINISTRATIVO,MASCULINO,"46.000,00",4586.2,4659.8,"41.966,94"
874,Trabajo,MARTHA RAMONA PICHARDO BAEZ,SECRETARIO (A),FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
875,Trabajo,GREGORIA PAYANO VELEZ (LICDA.),SECRETARIO (A),FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"
876,Trabajo,DORKA RAMIREZ RODRIGUEZ,AUXILIAR ADMINISTRATIVO I,FEMENINO,"34.000,00",3389.8,3444.2,"31.965,60"

## Procesamiento de datos

In [115]:
# Normalizando la caracteristica Sexo
df_ministerios.rename(columns={"Sexo": "Es_Masculino"}, inplace=True)

df_ministerios["Es_Masculino"] = df_ministerios["Es_Masculino"].apply(lambda genero:  0 if "f" in genero.lower() else 1).astype("int64")

In [116]:
# Normalizando la caracteristica Sueldo bruto
types = {}
for bruto in df_ministerios["Sueldo bruto"]:
    tipo = str(type(bruto))
    if tipo not in types:
        types[tipo] = 0
    types[tipo] += 1

print(types)

{"<class 'float'>": 10164, "<class 'str'>": 877}

In [117]:
def convertir_a_float(bruto):
    try:
        return float(bruto)
    except ValueError:
        return float(bruto.replace('.', '').replace(',', '.'))

# Aplicar la funci√≥n a la columna "Sueldo bruto"
df_ministerios["Sueldo bruto"] = df_ministerios["Sueldo bruto"].apply(convertir_a_float)

In [118]:
# Normalizando la caracteristica Sueldo neto
types = {}
for bruto in df_ministerios["Sueldo neto"]:
    tipo = str(type(bruto))
    if tipo not in types:
        types[tipo] = 0
    types[tipo] += 1

print(types)

{"<class 'float'>": 10164, "<class 'str'>": 877}

In [119]:
def convertir_a_float(bruto):
    try:
        return float(bruto)
    except ValueError:
        return float(bruto.replace('.', '').replace(',', '.'))

# Aplicar la funci√≥n a la columna "Sueldo bruto"
df_ministerios["Sueldo neto"] = df_ministerios["Sueldo neto"].apply(convertir_a_float)

In [120]:
# route
file_name = 'Datasets/Clean_Ministerios.csv'

# saving the excel
df_ministerios.to_csv(file_name)
print('df_ministerios is written to CSV File successfully.')

df_ministerios is written to CSV File successfully.

### Columnas Categoricas

In [121]:
counts = df_ministerios["Cargo"].value_counts(normalize=True)*100
counts

Cargo
AGENTE  VTP                                                 13.757812
AUXILIAR ADMINISTRATIVO                                      6.638891
ABOGADO (A) I                                                6.013948
CONSERJE                                                     5.678833
FISCALIZADOR                                                 4.483290
                                                              ...
Coordinador de Organismos Internacionales                    0.009057
Analista de Estudios y Pol√≠ticas Tributarias I               0.009057
Analista de Estudios y Proyecciones de la Recaudaci√≥n II     0.009057
Analista Recursos Humanos I                                  0.009057
ENCARGADO UNIDAD                                             0.009057
Name: proportion, Length: 745, dtype: float64

In [122]:
df_ministerios["Cargo"].value_counts(normalize=True)*100

#Estandarizando los Abogados
df_ministerios['Cargo'] = df_ministerios['Cargo'].apply(lambda x: "ABOGADO" if re.search("ABOGAD", x) else x)

Abogados = df_ministerios[df_ministerios['Cargo'].str.contains("ABOGAD")]['Cargo']
Abogados.value_counts()

Cargo
ABOGADO    845
Name: count, dtype: int64

In [ ]:
# funcion para normalizar columnas
def normalize_column(column_name, field_name, field_new_name, df):
    df[column_name] = df[column_name].apply\
    (
        lambda x: field_new_name.upper() if re.search(field_name.upper(), str(x.upper())) else x.upper()
    )
    print(f"Se normaliz√≥ el campo {field_new_name}")

In [349]:
# Normalizando el campo secretaria
normalize_column('Cargo', "SECRETARI", "SECRETARIO", df_ministerios)
normalize_column('Cargo', "SEC\.", "SECRETARIO", df_ministerios)

Se normaliz√≥ el campo SECRETARIO
Se normaliz√≥ el campo SECRETARIO

<>:3: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\.'
C:\Users\samil\AppData\Local\Temp\ipykernel_14452\3284197886.py:3: SyntaxWarning: invalid escape sequence '\.'
  normalize_column('Cargo', "SEC\.", "SECRETARIO", df_ministerios)

In [350]:
# Normalizando el campo secretario
Secretario = df_ministerios[df_ministerios['Cargo'].str.contains("SECRETARI")]['Cargo']
Secretario.value_counts()

Cargo
SECRETARIO    733
Name: count, dtype: int64

In [132]:
# Normalizando campo analista
normalize_column('Cargo', "ANALIST", "ANALISTA", df_ministerios)

Se normaliz√≥ el campo ANALISTA

In [134]:
# revisando los valores de analista
Analista = df_ministerios[df_ministerios['Cargo'].str.contains("ANALIST")]['Cargo']
Analista.value_counts()

Cargo
ANALISTA    375
Name: count, dtype: int64

In [146]:
# Normalizando campo ENCARGADO 
normalize_column('Cargo', "ENCARGAD", "ENCARGADO", df_ministerios)
normalize_column('Cargo', "ENC\.", "ENCARGADO", df_ministerios)

Se normaliz√≥ el campo ENCARGADO
Se normaliz√≥ el campo ENCARGADO

<>:3: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\.'
C:\Users\samil\AppData\Local\Temp\ipykernel_14452\2804071411.py:3: SyntaxWarning: invalid escape sequence '\.'
  normalize_column('Cargo', "ENC\.", "ENCARGADO", df_ministerios)

In [147]:
# revisando los valores de encargado
Encargado = df_ministerios[df_ministerios['Cargo'].str.contains("ENCARGAD")]['Cargo']
Encargado.value_counts()

Cargo
ENCARGADO    720
Name: count, dtype: int64

In [138]:
# Normalizando campo coordinador 
normalize_column('Cargo', "COORDINAD", "COORDINADOR", df_ministerios)

Se normaliz√≥ el campo COORDINADOR

In [151]:
# revisando los valores de coordinador
Coordinador = df_ministerios[df_ministerios['Cargo'].str.contains("COORDINAD")]['Cargo']
Coordinador.value_counts()

Cargo
COORDINADOR    166
Name: count, dtype: int64

In [156]:
# Normalizando campo Fiscalizador 
normalize_column('Cargo', "FISCALIZAD", "FISCALIZADOR", df_ministerios)

Se normaliz√≥ el campo FISCALIZADOR

In [157]:
# revisando Fiscalizador
Fiscalizador = df_ministerios[df_ministerios['Cargo'].str.contains("FISCALIZAD")]['Cargo']
Fiscalizador.value_counts()

Cargo
FISCALIZADOR    498
Name: count, dtype: int64

In [165]:
# Normalizando campo INSPECTOR 
normalize_column('Cargo', "INSPECT", "INSPECTOR", df_ministerios)

Se normaliz√≥ el campo INSPECTOR

In [ ]:
# Normalizando campo INSPECTOR 
normalize_column('Cargo', "INSPECT", "INSPECTOR", df_ministerios)

Se normaliz√≥ el campo INSPECTOR

In [171]:
# Normalizando campo SUPERVISOR 
normalize_column('Cargo', "SUPERVI", "SUPERVISOR", df_ministerios)

Se normaliz√≥ el campo SUPERVISOR

In [172]:
# revisando SUPERVISOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("SUPERVI")]['Cargo']
var.value_counts()

Cargo
SUPERVISOR    279
Name: count, dtype: int64

In [178]:
# Normalizando campo CHOFER 
normalize_column('Cargo', "CHOF", "CHOFER", df_ministerios)

Se normaliz√≥ el campo CHOFER

In [179]:
# revisando chofer
var = df_ministerios[df_ministerios['Cargo'].str.contains("CHOF")]['Cargo']
var.value_counts()

Cargo
CHOFER    497
Name: count, dtype: int64

In [183]:
# Normalizando campo ADMINISTRADOR 
normalize_column('Cargo', "ADMINISTRAD", "ADMINISTRADOR", df_ministerios)

Se normaliz√≥ el campo ADMINISTRADOR

In [184]:
# revisando ADMINISTRADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("ADMINISTRAD")]['Cargo']
var.value_counts()

Cargo
ADMINISTRADOR    35
Name: count, dtype: int64

In [189]:
# Normalizando campo INSPECTOR 
normalize_column('Cargo', "DISE", "DISE√ëADOR", df_ministerios)

Se normaliz√≥ el campo DISE√ëADOR

In [190]:
# revisando DISE√ëADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("DISE")]['Cargo']
var.value_counts()

Cargo
DISE√ëADOR    18
Name: count, dtype: int64

In [215]:
# Normalizando campo OPERADOR 
normalize_column('Cargo', "OPERAD", "OPERADOR", df_ministerios)

Se normaliz√≥ el campo OPERADOR

In [217]:
# revisando OPERADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("OPERAD")]['Cargo']
var.value_counts()

Cargo
OPERADOR    22
Name: count, dtype: int64

In [312]:
# Normalizando campo AUXILIAR  
normalize_column('Cargo', "AUX", "AUXILIAR", df_ministerios)

Se normaliz√≥ el campo AUXILIAR

In [313]:
# revisando AUXILIAR 
var = df_ministerios[df_ministerios['Cargo'].str.contains("AUXILI")]['Cargo']
var.value_counts()

Cargo
AUXILIAR    1177
Name: count, dtype: int64

In [227]:
# Normalizando campo ORIENTADOR 
normalize_column('Cargo', "ORIENT", "ORIENTADOR", df_ministerios)

Se normaliz√≥ el campo ORIENTADOR

In [228]:
# revisando ORIENTADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("ORIENT")]['Cargo']
var.value_counts()

Cargo
ORIENTADOR    7
Name: count, dtype: int64

In [233]:
# Normalizando campo MENSAJERO  
normalize_column('Cargo', "MENSAJ", "MENSAJERO", df_ministerios)

Se normaliz√≥ el campo MENSAJERO

In [234]:
# revisando MENSAJERO
var = df_ministerios[df_ministerios['Cargo'].str.contains("MENSAJ")]['Cargo']
var.value_counts()

Cargo
MENSAJERO    304
Name: count, dtype: int64

In [274]:
# Normalizando campo SUBDIRECTOR   
normalize_column('Cargo', "SUBDIREC", "SUBDIRECTOR", df_ministerios)
normalize_column('Cargo', "SUB-DIREC", "SUBDIRECTOR", df_ministerios)

Se normaliz√≥ el campo SUBDIRECTOR
Se normaliz√≥ el campo SUBDIRECTOR

In [275]:
# revisando SUBDIRECTOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("SUBDIREC")]['Cargo']
var.value_counts()

Cargo
SUBDIRECTOR    110
Name: count, dtype: int64

In [246]:
# Normalizando campo SOPORTE  
normalize_column('Cargo', "SOPOR", "SOPORTE", df_ministerios)

Se normaliz√≥ el campo SOPORTE

In [247]:
# revisando SOPORTE
var = df_ministerios[df_ministerios['Cargo'].str.contains("SOPOR")]['Cargo']
var.value_counts()

Cargo
SOPORTE    99
Name: count, dtype: int64

In [332]:
# Normalizando campo VICEMINISTRO                   
normalize_column('Cargo', "VICE", "VICEMINISTRO", df_ministerios)

Se normaliz√≥ el campo VICEMINISTRO

In [262]:
# revisando VICEMINISTRO                 
var = df_ministerios[df_ministerios['Cargo'].str.contains("VICEMINIS")]['Cargo']
var.value_counts()

Cargo
VICEMINISTRO    19
Name: count, dtype: int64

In [308]:
# Normalizando campo TECNICO   
normalize_column('Cargo', "TECNI", "TECNICO", df_ministerios)
normalize_column('Cargo', "T√âCNI", "TECNICO", df_ministerios)

Se normaliz√≥ el campo TECNICO
Se normaliz√≥ el campo TECNICO

In [309]:
# revisando TECNICO
var = df_ministerios[df_ministerios['Cargo'].str.contains("TECNI")]['Cargo']
var.value_counts()

Cargo
TECNICO    481
Name: count, dtype: int64

In [286]:
# Normalizando campo   
normalize_column('Cargo', "DIRECTOR ", "DIRECTOR", df_ministerios)
normalize_column('Cargo', "DIRECTORA", "DIRECTOR", df_ministerios)
normalize_column('Cargo', "DIRECTOR\(A\)", "DIRECTOR", df_ministerios)

Se normaliz√≥ el campo DIRECTOR
Se normaliz√≥ el campo DIRECTOR
Se normaliz√≥ el campo DIRECTOR

<>:4: SyntaxWarning: invalid escape sequence '\('
<>:4: SyntaxWarning: invalid escape sequence '\('
C:\Users\samil\AppData\Local\Temp\ipykernel_14452\2228616404.py:4: SyntaxWarning: invalid escape sequence '\('
  normalize_column('Cargo', "DIRECTOR\(A\)", "DIRECTOR", df_ministerios)

In [287]:
# revisando ORIENTADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("DIRECTOR")]['Cargo']
var.value_counts()

Cargo
SUBDIRECTOR    111
DIRECTOR        81
Name: count, dtype: int64

In [395]:
# Normalizando campo psicologo
normalize_column('Cargo', "PSICO", "PSICOLOGO", df_ministerios)

Se normaliz√≥ el campo PSICOLOGO

In [296]:
# revisando PSIICOLOGO
var = df_ministerios[df_ministerios['Cargo'].str.contains("PSICO")]['Cargo']
var.value_counts()

Cargo
PSICOLOGO    19
Name: count, dtype: int64

In [301]:
# Normalizando campo ASESOR 
normalize_column('Cargo', "ASES", "ASESOR", df_ministerios)

Se normaliz√≥ el campo ASESOR

In [302]:
# revisando ASESOR 
var = df_ministerios[df_ministerios['Cargo'].str.contains("ASES")]['Cargo']
var.value_counts()

Cargo
ASESOR    26
Name: count, dtype: int64

In [337]:
# Normalizando campo MINISTRO 
normalize_column('Cargo', "MINISTRO ", "MINISTRO", df_ministerios)

Se normaliz√≥ el campo MINISTRO

In [338]:
# revisando MINISTRO 
var = df_ministerios[df_ministerios['Cargo'].str.contains("MINISTRO")]['Cargo']
var.value_counts()

Cargo
VICEMINISTRO    22
MINISTRO         4
Name: count, dtype: int64

In [344]:
# Normalizando campo AGENTE  
normalize_column('Cargo', "AGENT", "AGENTE", df_ministerios)

Se normaliz√≥ el campo AGENTE

In [345]:
# revisando AGENTE 
var = df_ministerios[df_ministerios['Cargo'].str.contains("AGENTE")]['Cargo']
var.value_counts()

Cargo
AGENTE    1548
Name: count, dtype: int64

In [355]:
# Normalizando campo ingeniero
normalize_column('Cargo', "INGENI", "INGENIERO", df_ministerios)

Se normaliz√≥ el campo INGENIERO

In [356]:
# revisando ORIENTADOR
var = df_ministerios[df_ministerios['Cargo'].str.contains("INGENIERO")]['Cargo']
var.value_counts()

Cargo
INGENIERO    19
Name: count, dtype: int64

In [366]:
# Normalizando campo PROCURADOR
normalize_column('Cargo', "PROCURA", "PROCURADOR", df_ministerios)

Se normaliz√≥ el campo PROCURADOR

In [367]:
# revisando PROCURADOR 
var = df_ministerios[df_ministerios['Cargo'].str.contains("PROCURA")]['Cargo']
var.value_counts()

Cargo
PROCURADOR    712
Name: count, dtype: int64

In [376]:
# Normalizando campo PROGRAMADOR
normalize_column('Cargo', "PROGRAM", "PROGRAMADOR", df_ministerios)

Se normaliz√≥ el campo PROGRAMADOR

In [377]:
# revisando PROGRAMADOR 
var = df_ministerios[df_ministerios['Cargo'].str.contains("PROGRAM")]['Cargo']
var.value_counts()

Cargo
PROGRAMADOR    7
Name: count, dtype: int64

In [403]:
# Normalizando campo MEDICO
normalize_column('Cargo', "MEDIC", "MEDICO", df_ministerios)
normalize_column('Cargo', "M√âDIC", "MEDICO", df_ministerios)

Se normaliz√≥ el campo MEDICO
Se normaliz√≥ el campo MEDICO

In [404]:
# revisando MEDICO 
var = df_ministerios[df_ministerios['Cargo'].str.contains("MEDIC")]['Cargo']
var.value_counts()

Cargo
MEDICO    237
Name: count, dtype: int64

In [408]:
# Normalizando campo PARALEGAL
normalize_column('Cargo', "PARA", "PARALEGAL", df_ministerios)

Se normaliz√≥ el campo PARALEGAL

In [409]:
# revisando PARALEGAL 
var = df_ministerios[df_ministerios['Cargo'].str.contains("PARA")]['Cargo']
var.value_counts()

Cargo
PARALEGAL    96
Name: count, dtype: int64

In [413]:
#NORMALIZANDO EL CAMPO educador
normalize_column('Cargo', "EDUC", "EDUCADOR", df_ministerios)

Se normaliz√≥ el campo EDUCADOR

In [414]:
# revisando ASESOR 
var = df_ministerios[df_ministerios['Cargo'].str.contains("EDUC")]['Cargo']
var.value_counts()

Cargo
EDUCADOR    90
Name: count, dtype: int64

In [415]:
var = df_ministerios[df_ministerios['Cargo'].str.contains("EDUC")]['Cargo']
var.value_counts()

Cargo
EDUCADOR    90
Name: count, dtype: int64

In [417]:
values = df_ministerios['Cargo'].value_counts(normalize=True)*100

values [values < 0.80]

Cargo
DIRECTOR                                    0.733629
RECEPCIONISTA                               0.624943
AYUDANTE DE MANTENIMIENTO                   0.525315
ENFERMERO (A)                               0.389457
REPRESENTANTE LOCAL                         0.326057
                                              ...
WEB MASTER                                  0.009057
IMPLEMENTADOR                               0.009057
GESTOR DE DISPONIBILIDAD DE APLICACIONES    0.009057
ESPECIALISTA EN PROYECTOS                   0.009057
GERENTE DE PLANIFICACI√ìN Y DESARROLLO       0.009057
Name: proportion, Length: 96, dtype: float64