In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('\Inferencia-Ingresos\Datasets\Minis_Trabajo.csv')

df.dropna(axis=1, inplace=True)

In [ ]:
df = df.iloc[2:]
df = df[:-11]

df = df.drop(index=[2, 3, 4])
df = df.rename(columns={
    'Unnamed: 1': 'Nombre',
    'Unnamed: 2': 'Sexo',
    'Unnamed: 3': 'Departamento',
    'Unnamed: 4': 'Funcion',
    'Unnamed: 6': 'Sueldo Bruto (RD$)',
    'Unnamed: 9': 'empleado afp',
    'Unnamed: 10': 'patronal afp',
    'Unnamed: 12': 'empleado sfs',
    'Unnamed: 13': 'patronal sfs',
    'Unnamed: 18': 'Sueldo Neto (RD$)'
})

def cleanin(x):
    x = str(x)
    return float(x.replace('.', '').replace(',', '.'))

colmns = ['empleado afp', 'patronal afp', 'empleado sfs', 'patronal sfs']
for col in colmns:
    df[col] = df[col].apply(cleanin)

df['Total AFP'] = df['empleado afp'].astype(float) + df['patronal afp'].astype(float)
df['Total SFS'] = df['empleado sfs'].astype(float) + df['patronal sfs'].astype(float)

dropping = [df.columns[0], df.columns[5], df.columns[7], 'empleado afp','patronal afp','empleado sfs','patronal sfs', df.columns[8], df.columns[11], df.columns[14], df.columns[15], df.columns[16],
                    df.columns[17], df.columns[19]]

df = df.drop(columns=dropping)

In [ ]:
df.describe()

                AFP           SFS
count    861.000000    861.000000
mean    4418.397851   4483.752149
std     2822.254684   2821.366506
min     1261.210000   1281.450000
25%     2492.500000   2532.500000
50%     3489.500000   3545.500000
75%     6979.000000   7091.000000
max    22931.000000  21250.800000

In [11]:
df.head()

,Nombre,Cargo,Departamento,Sexo,Sueldo bruto,AFP,SFS,Sueldo neto
5,ELSA SABRINA DE LOURDES DE LA CRUZ,VICEMINISTRO (A),DESPACHO MINISTRO TRABAJO,FEMENINO,"230.000,00",22931.0,21250.8,"175.233,53"
6,MARIE LAURE ARISTY PAUL DE DIAZ,VICEMINISTRO (A),DESPACHO MINISTRO TRABAJO,FEMENINO,"230.000,00",22931.0,21250.8,"175.233,53"
7,DULCE MARIA AGRAMONTE GARCIA,DIRECTOR(A) DE GABINETE,DESPACHO MINISTRO TRABAJO,FEMENINO,"195.000,00",19441.5,18769.3,"149.736,91"
8,JAVIER ALBERTO SUAREZ ASTACIO,ASESOR (A),DESPACHO MINISTRO TRABAJO,MASCULINO,"145.000,00",14456.5,14688.5,"113.715,01"
9,RAFAEL ARTURO MARIANO OVIEDO (LIC.),ASESOR (A),DESPACHO MINISTRO TRABAJO,MASCULINO,"110.000,00",10967.0,11143.0,"89.016,38"

In [ ]:
df.to_csv('nomina_clean.csv', index=False)